<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打开延迟加载 的开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载即按需要加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="cacheEnabled" value="true"></setting>
    </settings>
   <!-- <typeHandlers>-->
        <!--自定义类型处理器-->
        <!--<typeHandler handler="com.ym.ssm.typeHandler.EmpoyeeStatusHandler" javaType="com.ym.ssm.pojoex.EmpoyeeStatus"></typeHandler>-->
  <!--  </typeHandlers>-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- config params as the following -->
        </plugin>
    </plugins>
</configuration>